.ingredient-card {
    background-color: rgb(92, 114, 223);
    padding: 1px;
    display: inline-block !important;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.ingredient-card .card-body {
    padding: 0 !important;
}

.ingredient-card .card-text {
    display: inline;
    color: white;
}

.ingredient-card .btn {
    text-decoration: none !important;
    padding-left: 10px;
    background-color: none !important;
}

span {
    size: 20px;
    color: lightgoldenrodyellow;
}

p.card-text {
    padding-left: 10px;
}

.text-center {
    display: inline;
}

.ingredientBtn {
    justify-content: center;
}