.card {
    border: solid black 1px;
    background-color: #47ABFF;
    display: inline-block;
    padding: 1rem;
}

.card-text {
    display: inline;
    color: rgb(252, 245, 245)
}

.btn {
    display: inline;
    margin-left: 1rem;
}