@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');


.header {
    padding-top: 8%;
}

.centre {
    text-align: center;
    color: white;
}

.mealPicture {
    padding: 15px;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
}

#headerMenu {
    padding-top: 10px;
    display: table;
    width: 400px;
    margin: auto;
    table-layout: fixed;
}

.menuitem {
    display: table-cell;
    text-align: center;
    color: white;
}

#centrepiece {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

main {
    padding-top: 6%;
    width: 80%;
    margin: auto;
}

.recipeContent {
    float: left;
    width: 60%;
}

.recipeImage {
    float: right;
    width: 40%;
}