.recipe-card {
    margin: 2%;
}

.recipe-card .card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

a, a:hover {
    text-decoration: none;
    color: rgb(30, 29, 29);
}

.card-container {
    display: inline-block;
    width: 33%;
}