.searchBtn {
    text-align: center;
    display: inline-block !important;
    font-size: 24px;
}

.search .mb-3 {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
}

.search {
    text-align: center;
}

.ingredientList {
    max-width: 60%;
    margin: 0 auto;
}